// colours

$white: #fff;
$black: #111;
$dark-navy1: #16191D;
$dark-navy2: rgb(29, 29, 34);
$dark-navy3: rgba(40, 40, 48, 0.747);
$lilac: rgb(196, 147, 221);
$grey: #868585; 
$grey1: rgba(128, 128, 128, 0.336);
$dark-nav:  #16191D;
$sky-blue: #56A3FE;


//fonts
$main-font: "Poppins", sans-serif;
