// colours

$white: #fff;
$black: #111;
$dark-navy1: rgba(18, 18, 22, 0.979);
$dark-navy2: rgb(29, 29, 34);
$dark-navy3: rgb(27, 27, 32);
$lilac: rgb(196, 147, 221);
$grey: #868585; 

//fonts
$main-font: "Poppins", sans-serif;
